<%- include ("partials/header")  %> 
<h1> Landign page</h1>

<p>Welcome to yelp camp</p>

<a href="/campgrounds">View all campgrounds</a>

<%- include ("partials/footer")  %> 



npm install --save react@16.8.1 react-dom@16.8.1