<%- include ("partials/header")  %> 

<h1> Sign UP</h1>

<form action="/register" method="POST">

<input type="text" name="username" placeholder="UserName">

<input type="text" name="password" placeholder="password">
<button type="submit"> Submit</button>
</form>

<%- include ("partials/footer")  %> 
